name: module

on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main
  schedule:
    - cron: "0 7 * * *"

concurrency: this

env:
  TF_INPUT: false
  TF_IN_AUTOMATION: true
  AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  MONGODB_ATLAS_PRIVATE_KEY: ${{ secrets.MONGODB_ATLAS_PRIVATE_KEY }}
  MONGODB_ATLAS_PUBLIC_KEY: ${{ secrets.MONGODB_ATLAS_PUBLIC_KEY }}
  MONGODB_ATLAS_ORG: ${{ secrets.MONGODB_ATLAS_ORG }}
  SLACK_URL: ${{ secrets.SLACK_URL }}

defaults:
  run:
    shell: bash
    working-directory: test/src

jobs:
  list-tests:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v2
      - id: set-matrix
        run: echo "::set-output name=matrix::$(go test -list Test | grep -v " " | jq -Rsc '. / "\n" - [""]')"

  run-test:
    needs: list-tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        testcase: ${{fromJSON(needs.list-tests.outputs.matrix)}}
    steps:
      - uses: actions/checkout@v2

      - uses: hashicorp/setup-terraform@v1.3.2 # https://github.com/hashicorp/setup-terraform/releases
        with:
          terraform_version: 1.1.4 # https://github.com/hashicorp/terraform/releases
          terraform_wrapper: false

      - uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Terratest
        run: |
          export TF_INPUT=${TF_INPUT:-false}
          export TF_IN_AUTOMATION=${TF_IN_AUTOMATION:-true}
          export TF_VAR_git=`echo ${GITHUB_REPOSITORY} | sed -e 's|.*/||'`
          export TF_VAR_branch=$(git branch --show-current)
          export PULL_REQUEST_HEAD_SHA=${{ github.event.pull_request.head.sha }}
          go mod download
          go test -v -timeout 90m -run ${{ matrix.testcase }}

  module:
    runs-on: ubuntu-latest
    needs: run-test
    steps:
    - run: echo Done!
      working-directory: .
